body
  background #eee
  color #000
  font 12pt Helvetica, Arial, sans-serif

h1
  text-align center

#main
  position relative
  display block
  margin 0 auto
  width 800px
  height 600px


footer
  text-align center
  width 400px
  background #666
  color #fff
  display block
  margin 30px auto 0 auto
  font-size 90%

  padding 10px

  a
    text-decoration none
    color #f90

  .links
    padding-top 10px

    a

      &:after
        padding 0 10px
        content '/'
        color #fff


      &:last-child:after
        content ''
        padding 0
