body
  background #333
  color #fff
  font 12pt Helvetica, Arial, sans-serif

#main
  position relative
  display block
  margin 0 auto
  width 800px
  height 600px


footer
  text-align center
  width 780px
  height 17px
  background #111
  color #fff
  display block
  margin 0 auto 0 auto
  font-size 90%

  padding 10px

  a
    text-decoration none
    color #f66

  .credits
    float left

  .links
    float right

    a

      &:after
        padding 0 10px
        content '/'
        color #fff


      &:last-child:after
        content ''
        padding 0
