doctype html
html
  head
    title LD#30 Warmup
    link(rel="stylesheet", type="text/css", href="index.css")

  body
    h1 LD#30 Warmup!

    #main

    footer
      .credits 
        | Made by Stefan "semi" Seemayer for&nbsp;
        a(href="http://www.ludumdare.com/compo/") Ludum Dare

      .links
        a(href="http://github.com/sseemayer") GitHub
        a(href="http://twitter.com/sseemayer") Twitter
        a(href="http://www.semicolonsoftware.de") Website

    script(type="text/javascript", src="libs.js")
    script(type="text/javascript", src="index.js")
